
header{

  background: #0cd366;  
 

}

a{
  color: #fff;
  text-decoration: none;

}



@media (max-width: 959px){

/*----Menu "X" hamburger-----*/

header .navbar-nav{
  margin: auto;
  widows: 90%; 
  background:#5feb9e;  
}
  header .navbar-nav a{
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;

}

  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border: none;
}

 #nav-icon{
  width: 45px;
  height: 32px;
  position: relative;
 
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
 
}

 #nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  background: #fff;  
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon span:nth-child(1) {
  top: 0px;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 10px;
  width: 55%;
}
#nav-icon span:nth-child(4) {
  top: 20px;
  
}
#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


}