
header{
  background: #e906b4;
}
a{
  color: #fff;
  text-decoration: none;
}

@media (max-width: 959px){

/*----Menu "X" hamburger-----*/

header .navbar-nav{
  margin: auto;
  widows: 90%; 
  background:rgb(235, 91, 194);
}
  header .navbar-nav a{
  text-align: center;
  text-transform: uppercase;
  margin: 10px auto;

}

  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border: none;
}

 #nav-icon{
  width: 45px;
  height: 32px;
  position: relative;
  top: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
 
}

 #nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 28px;
  background: #fff;  
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 16px;
}

#nav-icon span:nth-child(3) {
  top: 8px;
}

#nav-icon.open span:nth-child(1) {
  top: 16px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


}